body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      color: #333;
      margin: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      color: #0078D7;
    }

    #csvFile {
      margin-bottom: 20px;
    }

    #tableContainer {
      width: 90%;
      margin-top: 20px;
      display: none;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 16px;
      text-align: left;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    table thead {
      background-color: #0078D7;
      color: #fff;
    }

    table th,
    table td {
      padding: 12px 15px;
      border: 1px solid #ddd;
    }

    table tbody tr:nth-child(even) {
      background-color: #f4f4f9;
    }

    table tbody tr:hover {
      background-color: #e9f5ff;
    }

    button {
      background-color: #0078D7;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
    }

    button:hover {
      background-color: #005bb5;
    }